<h1>Canciones favoritas</h1>


<div class="row m-5">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Album</th>
                    <th>Cancion</th>
                    <th>Vista previa</th>
                    <th>Eliminar de favoritos</th>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <th>
                        <img>
                    </th>
                    <th></th>
                    <th></th>
                    <th>
                    </th>
                    <th> <button class="btn btn-outline-danger" >Eliminar</button> </th>
                </tr>

            </tbody>
        </table>
    </div>
</div>