<h1 class="animated fadeIn">Canciones favoritas</h1>


<div class="row animated fadeIn m-5">
    <div class="col">
        <table class="table col">
            <thead>
                <tr >
                    <th>Foto</th>
                    <th>Album</th>
                    <th>Cancion</th>
                    <th>Vista previa</th>
                    <th>Eliminar de favoritos</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let track of tracks; let i = index">
                    <th>
                        <img [src]="track.album.images | noimage " class="img-thumb" > 
                    </th>
                    <th> {{ track.album.name }} </th>
                    <th>{{ track.name }}</th>
                    <th><iframe [src]="track.uri | domSeguro:'https://open.spotify.com/embed?uri='" width="300"
                        height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    </th>
                    <th> <button (click)="eliminarCancion(i)" class="btn btn-outline-danger" >Eliminar</button> </th>
                </tr>

            </tbody>
        </table>
    </div>
</div>